html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    /* fix modal padding */ 
    padding-right: 0px !important; 
}


.table-responsive tr:not(.separator) > td:not(:first-child){
    width: 6em;
    min-width: 6em;
    max-width: 6em;
    border-right: 2px solid #dee2e5
}



.table-responsive td:not(:first-child) {
    width: 6em;
    min-width: 6em;
    max-width: 6em;
}
.navbar > a {
    text-decoration: none;
}

.table-hover tbody{
    cursor: pointer;
}

.badge-danger:empty:before {
    content: 'Exploitable'
}
.badge-success:empty:before{
    content: 'Safe'
}
.badge-warning:empty:before{
    content: 'Not Applicable'
}
.badge-secondary:empty:before{
    content: 'Loading'
}

.badge:empty {
    display: inline;
}


.highlight > tr:not(.separator) > td:nth-child(2) {
    border-left: solid 2px red;
    border-right: solid 2px red;
}

tr > td:first-child > a {
    margin-left: 15px;
}

#results-table {
    box-sizing: border-box;
}


/* fix first column*/ 
#resultTableHead th:first-child, #resultTableBody td:first-child{
    position:sticky;
    left:0px;
    width: 19rem;
    min-width: 19rem;
    max-width: 19rem;
}


.table-responsive tr:not(.separator) > td:first-child{
    background-color:white;
}

.table-responsive th {
    background-color:white;
}

.separator{
    background-color: #cccccc26;
}

.container {
    max-width: 1920px;
    width: 90%;
}

/* fix result table hight */
#resultTableHead > tr{
    height: 60px;

}

/* fix filter input in table */ 
#filtername, #filterplatform, #filterversion{
    margin-left: 15px;
    width: 10em;
}
#testModalUrl0, #testModalUrl1{
    word-break: break-all;
}


#resultTableBody > tr:hover:not(.separator) > td.showtest.table-success{
    background-color: #b1dfbb;
}

#resultTableBody > tr:hover:not(.separator) > td.showtest.table-danger{
    background-color: #f1b0b7;
}

#resultTableBody > tr:hover:not(.separator) > td.showtest.table-warning{
    background-color: #ffe8a1;
}

#resultTableBody > tr:hover:not(.separator) > td.showtest.table-default{
    background-color: #ececf6;
}

#resultTableBody > tr:hover:not(.separator) > td.showtest.table-secondary{
    background-color: #c8cbcf;
}





.showtest:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 8px 1px rgb(0 0 0 / 50%);
}


